{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{{title}}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{% static 'lib/Skeleton-2.0.4/css/normalize.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  <link rel="stylesheet" href="{% static 'lib/Skeleton-2.0.4/css/skeleton.css' %}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{% static 'lib/Skeleton-2.0.4/images/favicon.png' %}">
  <!--jQuery-->
  <script src = "{% static 'lib/jquery/jquery-3.6.0.js'%} "></script>

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="twelve-half columns" style="margin-top: 25%">
        <form method="POST" action="." enctype="multipart/form-data">
          <div class="row">
            {% csrf_token %}
            <input type="hidden" name="accion" value="{{ accion }}">

            {% if form.errors %}
                <div class="u-full-width">
                    <button type="button" class="close">x</button>
                    <h5> Ha Ocurrido un Error al Intentar Guardar!</h5>
                    <ul>
                        {% for elemento in form %}
                            {% for error in elemento.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %} 
            <div class="row" style="text-align: center;">
              <div class="u-full-width" id="modal-alert">
                <h5><i class="fa-regular fa-triangle-exclamation"></i>Notificación!</h5>
                ¿Estas Seguro de Eliminar el Registro Nro {{ object.id }}?
              </div>
              <a class="button" href="{{ list_url }}">Cancelar</a>
              <button class="button-primary" type="submit">Aceptar</button>
            </div>

        </form>
      </div>
    </div>
  </div>
  <script type="application/javascript">
    {% if form.errors %}
        var errors = '';
        {% for elemento in form %}
            {% for error in elemento.errors %}
                errors += '{{ error }}\n';
            {% endfor %}
        {% endfor %}
        Swal.fire({
        title: 'Error!',
        text: errors,
        icon: 'error',
        });
    {% endif %}

    $('form').on('submit', function (e) {
          e.preventDefault();
          //var parametros = $(this).serializeArray();
          var parametros = new FormData(this);
          $.ajax({
                  url: window.location.pathname,
                  type: 'POST',
                  data: parametros,
                  dataType: 'Json',
                  processData: false,
                  contentType: false,
              }).done(function(data){
                  if(!data.hasOwnProperty('error')) {
                      location.href = '{{ list_url }}';
                      return false;
                  }
                  mensaje_error(data.error);
              }).fail(function(jqXHR, textStatus, errorThrown){
                  alert(textStatus + ': ' + errorThrown);
              }).always(function(data){
                  
              });
      });
</script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
