{% load static %}
<!-- Navbar -->
<nav class="main-header navbar navbar-expand-md navbar-dark bg-primary">
    <div class="container">
        <div class="bg-light" style="height: 50px; width: 50px; border-radius: 25px;" aling="center">
            <a href="#" class="navbar-brand ">
                <img src="{% static 'img/logo1.png' %}" alt="Escapate Logo" class="brand-image mt-0 " >
            </a>
        </div>
        <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse order-3" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu1" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                    class="nav-link dropdown-toggle"><i class="fas fa-map-marker-alt"></i> Destinos</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="{% url 'destinos:destino_list' %}" class="dropdown-item"><i class="far fa-image"></i> Catálogo</a></li>
                        <li><a href="{% url 'destinos:categoria_list' %}" class="dropdown-item"><i class="fas fa-clipboard-list"></i> Categorías</a></li>
                        <li><a href="#" class="dropdown-item"><i class="fas fa-comment-dots"></i> Comentarios</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                       class="nav-link dropdown-toggle"><i class="fas fa-store-alt"></i> Sourvenir</a>
                    <ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu border-0 shadow">
                        <li><a href="#" class="dropdown-item"><i class="fas fa-list-ol"></i> Inventario</a></li>
                        <li><a href="#" class="dropdown-item"><i class="fas fa-cart-plus"></i> Pedidos</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="order-1 order-md-3 navbar-nav navbar-no-expand ml-auto">
                <li class="nav-item dropdown show">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-envelope"></i>
                        <span class="badge badge-success navbar-badge">8</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">Tienes 8 Comentarios</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                              <img src="{% static 'lib/adminlte-3.0.4/img/user8-128x128.jpg' %}" alt="User Avatar" class="img-size-50 img-circle mr-3">
                              <div class="media-body">
                                <h3 class="dropdown-item-title">
                                  John Pierce
                                  <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">Tengo tu mensaje hermano</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> Hace 4 Horas</p>
                              </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                              <img src="{% static 'lib/adminlte-3.0.4/img/user3-128x128.jpg' %}" alt="User Avatar" class="img-size-50 img-circle mr-3">
                              <div class="media-body">
                                <h3 class="dropdown-item-title">
                                  Nora Silvester
                                  <span class="float-right text-sm text-warning"><i class="fas fa-star"></i></span>
                                </h3>
                                <p class="text-sm">El tema va aquí</p>
                                <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> Hace 4 Horas</p>
                              </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">Ver todos</a>
                    </div>
                </li>
    
                <li class="nav-item dropdown show">
                    <a class="nav-link" data-toggle="dropdown" href="#" >
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge"> 4</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                        <span class="dropdown-item dropdown-header"> 4 Notificaciones</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                          <i class="fas fa-users mr-2" style="color: rgb(32, 115, 209);"></i> 8 nuevos usuarios se unieron
                          <span class="float-right text-muted text-sm"> hoy</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                          <i class="fas fa-map-marker-alt" style="color: rgb(202, 187, 45);"></i> 2 nuevos destinos registrados
                          <span class="float-right text-muted text-sm"> ayer</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-cart-plus" style="color: rgb(32, 167, 32);"></i> 35 souvenir vendidos
                            <span class="float-right text-muted text-sm"> ayer</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-user-alt" style="color: rgb(212, 147, 25);"></i> 7 nuevos aliados
                            <span class="float-right text-muted text-sm"> 7 días</span>
                        </a>
                        <a href="#" class="dropdown-item dropdown-footer"> Ver todas</a>
                    </div>
                </li>
                
                <li class="nav-item dropdown show">
                    <a id="dropdownSubMenu2" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">
                        <img src="{{ request.user.get_imagen }}" alt="User Avatar"  class="img-size-50 img-circle mr-1 mt-n3"> {{ request.user.first_name }} {{ request.user.last_name }}
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right" style="left: inherit; right: 0px;">
                        <div class="bg-primary" align="center">
                            <a href="#" class="navbar-brand">
                                <img src="{{ request.user.get_imagen }}" alt="User Avatar" class="img-fluid d-block  mx-auto" style="width: 50px; height: 50px; border-radius: 50%; object-fit: cover;">
                                <h6>{{ request.user.first_name }} {{ request.user.last_name }}</h6>
                                <button type="button" class="btn btn-block btn-info btn-xs" style="border-radius: 40px;">Editora</button>
                            </a>
                        </div>
                        <div align="center">
                            <ul class="navbar-nav">
                                <li style="flex-grow: 0.5;"><a href="#" style="	display: block; padding: 15px 20px;">Tareas</a></li>
                                <li style="flex-grow: 0.5;"><a href="#" style="	display: block; padding: 15px 20px;">Favoritos</a></li>
                                <li style="flex-grow: 0.5;"><a href="#" style="	display: block; padding: 15px 20px;">Ayuda</a></li>
                            </ul>
                        </div>
                        <div>
                            <ul style="	margin: 0; list-style: none; padding: 0; display: flex;">
                                <li style="flex-grow: 1;">
                                    <a href="#" class="btn btn-outline-warning btn-xs btn-flat" > Perfil</a>
                                </li>
                                <li>
                                    <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-xs btn-flat"> Cerrar Sesion</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </li>
            </ul>
        </div>

    </div>
</nav>