body {
	background: #8ecae6;
	font-family: sans-serif;
}

#ul {
	text-decoration: none;
	list-style: none;
	display: flex;
}

.container {
    display: block;
    width: 300px;
    text-align: center;
    height: 500px;
    color: #3d5a80;
} 

.box {
    width: 150px;
    height: 80px;
    background-color: #fff;
    margin-left: 60pt;
    border-radius: 5pt;
    text-align: center;
    padding: 5pt;
    margin-bottom: 35pt;
}

.box h3 {
	color: black;
}

.title {
	color: #3d5a80;
	font-size: 50pt;
	margin-left: 20pt;
	margin-bottom: 1pt;
}

.bnt-create{
    width: 83px;
    height: 33px;
    border-radius: 9px;
    padding-top: 10px;
    background-color: #3d5a80;
    color: #fff;
    margin-left: 101px;
    margin-bottom: 60px;
    text-decoration: none;
    display: block;
}

.calendar {
	text-align: center;
	width: 630px;
}

ul {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	padding: 0;
} 

li {
	text-align: left; 
}

.first-day {
	grid-column-start: 5;
}

.day-name {
	height: 34px;
	padding: 6px;
	padding-top: 15px;
	background: #e56b6f;
	color: #fff;
	text-align: center;
	font-weight: bold;
	margin-bottom: 6px;
}

.bg-days {background-color: #fff;}

.days {
    margin-right: 2px;
    font-size: 9pt;
	padding: 2px;
	height: 79px;
	margin-bottom: 2px;
}

.yes {
	height: 10px;
    width: 10px;
	float: right;
    border-radius: 6px;
	background: #f55252;
}

.no {
	height: 10px;
    width: 10px;
	float: right;
    border-radius: 6px;
	background: #64ed9b;
}